<head>
</head>

<div class="col-md-6 col-md-offset-3">
<div class="jumbotron">

	<div class="signup-form">

		<h2>Sign up</h2>

		<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		  <%= f.error_notification %>

		  <div class="form-inputs">
		    <%= f.input :email, required: true, autofocus: true, label: 'Email' %>
            <%= f.input :nickname, required: true, autofocus: true, label: 'Nickname' %>
		    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), label: 'Password' %>
		    <%= f.input :password_confirmation, required: true, label: 'Confirmaion of password' %>
		  </div>

		  <div class="form-actions">
		    <%= f.button :submit, "Sing up", class: "btn btn-danger" %>
		  </div>
		<% end %>
                <p></p>
		<%= render "devise/shared/links" %>

	</div>

</div>
</div>
