<head>
</head>

<%= simple_form_for @actor, html: { multipart: true } do |f| %>
  <% if @actor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@actor.errors.count, "error") %> prohibited this actor / actress from being saved:</h2>

      <ul>
      <% @actor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :name, label: 'Name', error: 'Name of actor / actress must be set.' %>
    <%= f.input :surname, label: 'Surname', error: 'Surname of actor / actress must be set.' %>
    <%= f.input :birth, as: :date, html5: true, label: 'Birth', error: 'Birth of actor / actress must be set.'  %>
    <%= f.input :biography, label: 'Biography', error: 'Biography of actor / actress must be set.' %>
    <%= f.input :image, label: 'Image', error: 'Image must be set' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Submit", class: "btn btn-danger" %>
  </div>
<% end %>
