<p id="notice"><%= notice %></p>

<h1>Actors / Actresses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Birth</th>
      <th>Biography</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @actors.each do |actor| %>
      <tr>
        <td><%= actor.name %></td>
        <td><%= actor.surname %></td>
        <td><%= actor.birth %></td>
        <td><%= actor.biography %></td>
        <td><%= link_to 'Show', actor %></td>
        <td><%= link_to 'Update', edit_actor_path(actor) %></td>
        <td><%= link_to 'Delete', actor, method: :delete, data: { confirm: 'Are you sure to delete this actor / actress?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create new', new_actor_path %>
