<head>
</head>

  <div class="actor-info">
    <div class="row">
      <div class="col-md-2">
        <% if @actor.image_file_name%>
          <%= image_tag @actor.image.url(:medium), :size => "225x300" %>
        <% else %>
          <%= image_tag url_to_asset("no-person"), :size => "225x300" %>
        <% end %>
      </div>
      <div class="col-md-8 col-md-offset-1">
        <h1 class: "btn btn-danger"><%= @actor.name + " " + @actor.surname %></h1>

        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>actor / actress</strong></td>
                <td></td>
              </tr>
              <tr>
                <td><strong>Name:</strong></td>
                <td><%= @actor.name %></td>
              </tr>
              <tr>
                <td><strong>Surname:</strong></td>
                <td><%= @actor.surname %></td>
              </tr>
              <tr>
                <td><strong>Birth:</strong></td>
                <td><%= @actor.birth.strftime("%d.%m.%Y") + " ( age: " + @actor.age.to_s + " )" %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <% if user_signed_in? %>
      <%= link_to 'Edit', edit_actor_path(@actor) %> |
      <%= link_to 'Delete', @actor, method: :delete, data: { confirm: 'Are you sure to delete this actor / actress?' } %> |
    <% end %>
    <%= link_to 'Back', movies_path %>

  </div>

<div class="col-md-8">
  <div class="actor-biography">
    <tr>
      <p></p>
      <h5><strong>Biography:</strong></h5>
      <p></p>
      <td><%= @actor.biography%></td>
    </tr>
  </div>
</div>

<div class="col-md-4">
  <div class="actor-list-movies">
    <h5><strong>List of movies</strong></h5>
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <% if @actor.movies.empty? %>
            <h3>No movie</h3>
          <% else %>

            <% @movies.each do |k, set| %>
                <tr>
                  <td><strong><%= k %></strong></td>
                  <td>
                    <% set.each do |movie| %>
                      <p>
                        <div class="star-rating" data-score= <%= movie.avg_ratting %> > 
                          <strong><%= link_to (movie.title), movie, :style=> 'color:#0000ff' %> </strong>
                        </div>
                      </p>
                    <% end %>
                  </td>
               </tr>    
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>


<script>
  $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
        return $(this).attr('data-score')
      }
  });
</script>
