<div class="search-title">
  <h3 class="header">Results of search</h3>

<table class="table">
  <tbody>
    <tr>
      <td>
        <div class="dropdown">
          <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown"> Categories
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu", role="menu">
            <% Category.all.each do |category| %>
              <li>
                <%= link_to category.name, search_path(category: category, search: params[:search]), class: "link"%>
              </li>
            <% end %>
          </ul>
        </div>
      </td>
      <td>
        <div class="dropdown">
          <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown"> Actor / Director
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu", role="menu">
            <li>
              <%= link_to "Actor / Actress", search_path(work: 1, search: params[:search]), class: "link"%>
            </li>
            <li>
              <%= link_to "Director", search_path(work: 2, search: params[:search]), class: "link"%>
            </li>
          </ul>
        </div>
      </td>
    </tr>

  </tbody>
</table>

  <div class="col-md-6">
    <div class="search-movies">
    <h4 class="header"> <strong> Movies </strong> </h4>
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <% if @movies.empty? %>
              <p> No film was search :( </p>
            <% else %>
              <% @movies.each do |movie| %>
                <tr>
                  <td>
                    <% if movie.image_file_name%>
                      <%= link_to (image_tag movie.image.url(:medium), :size => "88x132", :crop => :fill, class: 'image'), movie %>
                    <% else %>
                      <%= link_to (image_tag url_to_asset("no-movie"), :size => "88x132", :crop => :fill, class: 'image'), movie %>
                    <% end %>
                    <td>
                      <p><strong><%= link_to (movie.title), movie, :style=> 'color:#ff0000' %> </strong></p>
                      <p><%= movie.category.name %> | <%= movie.year %> </p>
                      <p> <strong>Director:</strong> <%= link_to (movie.director.name +  " " + movie.director.surname), movie.director, :style=> 'color: #0000ff' %> </p>
                      <p>
                        <strong>Playing:</strong>
                        <% movie.actors.each do |actor| %>
                          <%= link_to (actor.name +  " " + actor.surname), actor, :style=> 'color: #0000ff' %>
                        <% end %>
                      </p>
                    </td>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate @movies, renderer: BootstrapPagination::Rails,
        :param_name => 'movies', previous_label: "Prev", next_label: "Next",
      inner_window: 1, outer_window: 0 %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="search-actors">
    <h4 class="header"> <strong> Actor/Actress/Director </strong> </h4>
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <% if @persons.empty? %>
              <p> No actor/actress/director was search :( </p>
            <% else %>
              <% @persons.each do |person| %>
                <tr>
                  <td>
                    <% if person.image_file_name%>
                      <%= link_to (image_tag person.image.url(:medium), :size => "88x132", :crop => :fill, class: 'image'), person %>
                    <% else %>
                      <%= link_to (image_tag url_to_asset("no-person"), :size => "88x132", :crop => :fill, class: 'image'), person %>
                    <% end %>
                    <td>
                      <p><strong> <%= link_to (person.name + " " + person.surname), person, :style=> 'color:#ff0000' %> </strong></p>
                      <p><strong><%= person.class.name  %></strong></p>
                      <p><strong>Birth:</strong> <%= person.birth.strftime("%d.%m.%Y") + " ( age: " + person.age.to_s + " )"  %> </p>
                    </td>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate @persons, renderer: BootstrapPagination::Rails,
        :param_name => 'persons', previous_label: "Prev", next_label: "Next",
        inner_window: 1, outer_window: 0 %>
      </div>
    </div>
  </div>
