<head>
  <style>
    body {
      <% if @movie.image_file_name %>
        background:  url(<%= @movie.image.url(:original) %>) no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
        background-size: cover
     <% end %>
   }
  </style>
</head>

  <div class="movie-info">
    <div class="row">
      <div class="col-md-4">
        <% if @movie.image_file_name%>
          <%= image_tag @movie.image.url(:medium) %>
        <% else %>
          <%= image_tag url_to_asset("no-movie"), :size => "400x600" %>
        <% end %>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h1><%= @movie.title %></h1>
        <% if user_signed_in? %>
          <% if @want %>
            <p> <%= link_to "Want to See", new_movie_want_to_see_path(@movie), class: "btn btn-danger" %> </p>
          <% end %>
        <% end %>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Avg. ratting:</strong></td>
                <td>
                  <div class="star-rating" data-score=<%= @movie.avg_ratting %> ></div>
                  <em><%="#{@reviews.length} reviews" %></em>
                </td>
              </tr>
              <tr>
                <td><strong>Category:</strong></td>
                <td><%= @movie.category.name %></td>
              </tr>
              <tr>
                <td><strong>Year:</strong></td>
                <td><%= @movie.year %></td>
              </tr>
              <tr>
                <td><strong>Length (min):</strong></td>
                <td><%= @movie.lengthMinutes %></td>
              </tr>
              <tr>
                <td><strong>Director:</strong></td>
                <td><strong><%= link_to (@movie.director.name +  " " + @movie.director.surname), @movie.director, :style=> 'color: #0000ff' %> </strong></td>
              </tr>
              <tr>
                <td><strong>Actors / Actresses:</strong></td>
                <td>
                  <% @movie.actors.each do |actor| %>
                    <strong><%= link_to (actor.name +  " " + actor.surname), actor, :style=> 'color: #0000ff' %> </strong>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @movie.description %></td>
              </tr>
            </tbody>
          </table>
          <% if @write %>
          <%= link_to "Write Review", new_movie_review_path(@movie), class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

    <div class="reviews">
      <h1>Reviews</h1>
      <% if @reviews.blank? %>
        <h3>No reviews yet, would you like to add a review?</h3>
        <% if user_signed_in? %>
          <%= link_to "Write Review", new_movie_review_path(@movie), class: "btn btn-danger" %>
        <% else %>
          <%= link_to "Sing up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
        <% end %>
      <% else %>
        <% @reviews.each do |review| %>
          <div class="review">
            <div class="star-rating" data-score=<%= review.rating%>> <b><%= review.user.nickname %> </b> </div>
            <p><%= review.comment %></p>
            
            <% if user_signed_in? %>
              <% if review.user_id == current_user.id %>
                <div class="links btn-group">
	                <%= link_to "Edit", edit_movie_review_path(review.movie, review) %> |
		              <%= link_to "Delete", movie_review_path(review.movie, review), method: :delete, data: { confirm: " Are you sure to remove this review?" } %>
	             </div>
	           <% end %>
	         <% end %>   
          </div>
        <% end %>
        <%= will_paginate @reviews, renderer: BootstrapPagination::Rails,
        :param_name => 'reviews', previous_label: "Prev", next_label: "Next",
        inner_window: 1, outer_window: 0 %> 
      <% end %>
     </div> 
     
<% if user_signed_in? %>
  <%= link_to 'Edit', edit_movie_path(@movie) %> |
  <%= link_to 'Delete', @movie, method: :delete, data: { confirm: 'Are you sure to delete this movie?' } %> |
<% end %>
<%= link_to 'Back', movies_path %>

<script>
  $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
        return $(this).attr('data-score')
      }
  });
</script>
