<head>
  <style>
    body {
      background: url(asset-path('backround-director.jpg')); no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
      background-size: cover;
    }
  </style>
</head>


  <div class="director-info">
    <div class="row">
      <div class="col-md-2">
        <% if @director.image_file_name%>
          <%= image_tag @director.image.url(:medium), :size => "225x300" %>
        <% else %>
          <%= image_tag url_to_asset("no-person"), :size => "225x300" %>
        <% end %>
      </div>

      <div class="col-md-8 col-md-offset-1">
        <h1 class: "btn btn-danger"><%= @director.name + " " + @director.surname %></h1>

        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Director</strong></td>
                <td></td>
              </tr>
              <tr>
                <td><strong>Name:</strong></td>
                <td><%= @director.name %></td>
              </tr>
              <tr>
                <td><strong>Surname:</strong></td>
                <td><%= @director.surname %></td>
              </tr>
              <tr>
                <td><strong>Birth:</strong></td>
                <td><%= @director.birth.strftime("%d.%m.%Y") + " ( age: " + @director.age.to_s + " )" %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <% if user_signed_in? %>
      <%= link_to 'Edit', edit_director_path(@director) %> |
      <%= link_to 'Delete', @director, method: :delete, data: { confirm: 'Are you sure to delete this director?' }%>
    <% end %> |
    <%= link_to 'Back', movies_path %>
  </div>  

    
<div class="col-md-8">
  <div class="director-biography">
    <tr>
      <p></p>
      <h5><strong>Biography:</strong></h5>
      <p></p>
      <td><%= @director.biography%></td>
    </tr>
  </div>
</div>

<div class="col-md-4">
  <div class="director-list-movies">
    <h5><strong>List of movies</strong></h5>
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <% if @director.movies.empty? %>
            <h3>No movie</h3>
          <% else %>

            <% @movies.each do |k, set| %>
                <tr>
                  <td><strong><%= k %></strong></td>
                  <td>
                    <% set.each do |movie| %>
                      <p>
                        <div class="star-rating" data-score= <%= movie.avg_ratting %> > 
                          <strong><%= link_to (movie.title), movie, :style=> 'color:#0000ff' %> </strong>
                        </div>
                      </p>
                    <% end %>
                  </td>
               </tr>    
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
        return $(this).attr('data-score')
      }
  });
</script>
