<head>
</head>

<div class="col-md-6 col-md-offset-3">
  <div class="jumbotron">
    <h2>Forgot your password?</h2>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
    
      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>
      </div>
    
      <div class="form-actions">
        <%= f.button :submit, "Send me reset password instructions" %>
      </div>
    <% end %>
    <p></p>
    <%= render "devise/shared/links" %>
 
  </div>
</div>
