<head>
</head>


  <div class="want-title">
    <h1>Movies that you want to see</h1>
    <div class="dropdown">
      <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown"> Categories
       <span class="caret"></span>
      </button>
      <ul class="dropdown-menu", role="menu">
        <% Category.all.each do |category| %>
          <li>
            <%= link_to category.name, want_to_sees_path(category: category), class: "link"%>
          </li>
        <% end %>
      </ul>
      </div>
      <p></p>
      <%= link_to 'Back', root_path %>
  </div>

    <div class="col-md-12">
    <div class="want-to-see">
    <h4 class="header"> <strong> Movies </strong> </h4>
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <% if @want_to_sees.empty? %>
              <p> No film was search :( </p>
            <% else %>
              <% @want_to_sees.each.each do |movie| %>
                <tr>
                  <td>
                    <strong> 
                    <%= WantToSee.where(user_id: current_user.id, movie_id:movie.id).first.date.strftime("%d.%m.%Y") %>
                    </strong>
                  </td>
                  <td>
                    <%= link_to 'Edit', edit_movie_want_to_see_path(id:WantToSee.where(user_id: current_user.id, movie_id:movie.id).first.id, movie_id:movie.id) %> |
                    <%= link_to 'Destroy', WantToSee.where(user_id: current_user.id, movie_id:movie.id).first, method: :delete, data: { confirm: 'Are you sure?' } %>
                  </td>  
                </tr>
                
                <tr>
                  <td>
                    <% if movie.image_file_name%>
                      <%= link_to (image_tag movie.image.url(:medium), :size => "88x132", :crop => :fill, class: 'image'), movie %>
                    <% else %>
                      <%= link_to (image_tag url_to_asset("no-movie"), :size => "88x132", :crop => :fill, class: 'image'), movie %>
                    <% end %>
                  </td>

                    <td>
                      <p><strong><%= link_to (movie.title), movie, :style=> 'color:#ff0000' %> </strong></p>
                      <p><%= movie.category.name %> | <%= movie.year %> </p>
                      <p> <strong>Director:</strong> <%= link_to (movie.director.name +  " " + movie.director.surname), movie.director, :style=> 'color: #0000ff' %> </p>
                      <p>
                        <strong>Playing:</strong>
                        <% movie.actors.each do |actor| %>
                          <%= link_to (actor.name +  " " + actor.surname), actor, :style=> 'color: #0000ff' %>
                        <% end %>
                      </p>
                    </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate @want_to_sees, renderer: BootstrapPagination::Rails,
        :param_name => 'want', previous_label: "Prev", next_label: "Next",
        inner_window: 1, outer_window: 0 %> 
      </div>
    </div>
  </div>
