<head>
  <style>
    body {
      <% if @movie.image_file_name %>
        background:  url(<%= @movie.image.url(:original) %>) no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
        background-size: cover
     <% end %>
   }
  </style>
</head>

<div class="jumbotron">
  <h1>You want to see movie</h1>

  <%= render 'form', want_to_see: @want_to_see %>
  <%= link_to 'Back', want_to_sees_path %>
</div>
