<head>
</head>

<%= simple_form_for([@movie, review]) do |f| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <div class="field">
      <%= f.label :rating %>
      <div id="star-rating"></div>
    </div>
    <%= f.input :comment, label: 'Comment', error: 'Comment must be set.' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Submit", class: "btn btn-danger" %>
  </div>  


<% end %>

<script>
  $('#star-rating').raty({
      path: '/assets/',
      scoreName: 'review[rating]'
  });
</script>
